.logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.1);
  margin: 16px 24px 16px 0;
  float: left;
  text-align: center;
}

.logo h1 {
  position: relative;
  top: -50%;
  color: white;
}
